.container-fluid
	hr(style='margin: 30px 0 10px 0;')
	div.row-fluid
		.span4.footer.pull-left
			p Made with love in Moore 100.

		.span4.footer.pull-right
			p(align="right") &copy;&nbsp;
				a(href='http://www.cis.upenn.edu/~zives/cis550/') CIS 550 Project - SMJA

block footer