doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js')
		script(src='http://documentcloud.github.com/underscore/underscore-min.js')
		script(src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/parsley.js/1.2.2/parsley.min.js')
		link(rel="stylesheet", type="text/css", href="/stylesheets/editorui.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/jquery.fullPage.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/examples.css")
		script(src='http://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js')
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js")
		script(type="text/javascript", src="/js/jquery.slimscroll.min.js")
		script(type="text/javascript", src="/js/jquery.fullPage.js")
	body

		block content