extends layout

block content
	script(type="text/javascript", src="js/index.js")
	#fullpage
		#section0.section
			.intro
				h1(style='margin: 70px 0 10px 0;color:white;') BrainWAV: Emotive Audio Device
				h2(style='margin: 70px 0 10px 0;font-size: 300%') #ese519
		#section2.section
			.intro
				h1(style='margin: 70px 0 10px 0;color:white;') 
					a(href="/page2" target="_blank") The Idea Page
				br
				br