extends layout

block content
	script(type="text/javascript", src="js/index.js")
	#fullpage
		#section0.section
			.intro
				h1(style='margin: 70px 0 10px 0;color:white;') BrainWAV: Emotive Audio Device
				h2(style='margin: 70px 0 10px 0;font-size: 300%;color:white;') #ese519
		#section2.section
			.intro
				img(src="/images/1.jpg", height="750" width="1300")
		#section3.section
			.intro
				h1(style='margin: 30px 0 100px 0;color:black;') Data Stream SPI
				.span7
					img(src="/images/5.png", align="center", height="500" width="1000")
				.span7(style='height: 85vh;')
					.span7
						h2(style='margin: 0px 0 50px 0;color:black;font-size:200%') Power Spectrum
						img(src="/images/4.jpg", align="center", height="500" width="1000")				
		#section4.section
			.intro
				h1(style='margin: 0px 0 100px 0;color:black;') Feature Selection
				.span7
					img(src="/images/2.png", align="center", height="500" width="1000")
				.span7
					img(src="/images/2.png", align="center", height="500" width="1000")				
		#section5.section
			.intro
				h1(style='margin: 70px 0 10px 0;color:white;') 
					a(href="/page2" target="_blank") DEMO
				br
				br